<template>
    <div class="columns is-multiline">
        <template v-if="tableConfig">
            <div class="column is-12">
                <h3 class="title is-6">{{tableConfig.title}}</h3>
            </div>
            <div class="column is-12">
                <div class="table-container">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th v-for="header in headers">{{header}}</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th v-for="header in headers">{{header}}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr v-for="row in rows">
                                <td v-for="(field, key) in row">
                                    <template v-if="key === 'date'">{{field | date}}</template>
                                    <template v-else>{{field}}</template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "awesome-table",
        data() {
            return {
                tableConfig: null
            }
        },
        computed: {
            headers() {
                return this.tableConfig ? this.tableConfig.data.headers : [];
            },
            rows() {
                return this.tableConfig ? this.tableConfig.data.rows : [];
            }
        },
        mounted() {
            fetch(`${this.$ajax.url}?action=get_table_data`)
                .then(res => res.json())
                .then(data => {
                    this.tableConfig = data;
                })
        },
        filters: {
            date(timestamp) {
                return new Date(timestamp * 1000).toLocaleDateString();
            }
        }
    }
</script>
<style scoped>
    .table {
        font-size: .75rem;
    }
</style>